//
// ecommerce.scss
//

.blog-date {
    left: 15px;
    right: auto;
}

.ecommerce-product-widgets {
    .action {
        left: 10px;
        right: auto;
    }
    .label{
        right: 10px;
    }
}

.product-lable{
    right: -32px;
    left: auto;
}

.element-item .gallery-product-actions{
    left: 15px;
    right: auto;
}
